HANDLER=public/index.php
DOCUMENT_ROOT=public
APP_ENV=development
APP_KEY='base64:/EStlF5sExBpWdQ3eB/h+F2zzKGDc5bvDzwe0KD8ZPg='
APP_DEBUG=true
# When working locally with the client, set this to http://localhost:5173 (client proxies requests to API)
APP_URL=http://localhost:8000
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=db
DB_USERNAME=user
DB_PASSWORD=password
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=localhost
MAIL_MAILER=log
